<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{output.css}" rel="stylesheet">
    <title>LoLMarketPlace</title>
    <style>
        .navbar-gradient {
            background: linear-gradient(to left, #0A1428, #010A13);
        }
        .navbar-gradient2 {
            background: linear-gradient(to top, #0A1428, #010A13);
        }
    </style>
    <script>
        function toggleUpdateForm() {
            var formDiv = document.getElementById("updateFormDiv");
            if (formDiv.style.display === "none") {
                formDiv.style.display = "block";
            } else {
                formDiv.style.display = "none";
            }
        }
        function toggleUpdateOfferForm() {
            var formDiv = document.getElementById("updateOfferFormDiv");
            if (formDiv.style.display === "none") {
                formDiv.style.display = "block";
            } else {
                formDiv.style.display = "none";
            }
        }
        function toggleMainElement(elementId) {
            var mainElements = document.querySelectorAll(".main-element");
            mainElements.forEach(function(element) {
                element.style.display = "none";
            });
            var selectedElement = document.getElementById(elementId);
            selectedElement.style.display = "block";}
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('preview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
                preview.classList.remove('hidden');
            } else {
                preview.src = '';
                preview.classList.add('hidden');
            }
        }
        function previewOfferImage(event) {
            const input = event.target;
            const preview = document.getElementById('offerPreview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
                preview.classList.remove('hidden');
            } else {
                preview.src = '';
                preview.classList.add('hidden');
            }
        }

    </script>
</head>
<body class="bg-img1 bg-cover bg-center bg-no-repeat min-h-screen">
<header class="navbar-gradient fixed p-2 top-0 w-full z-50">
    <nav>
        <div class="max-w-screen flex items-center justify-between p-4">
            <a th:href="@{/}" class="flex items-center">
                <span class="text-lig2 text-3xl font-lig1 whitespace-nowrap">LoLMarketPlace</span>
            </a>
            <div class="flex flex-col items-end mr-28">
                <p class="text-lig2 text-2xl font-lig2">Welcome<span th:text="${session.username}"></span>,Balance : <span th:text="${session.balance}+ '$'" ></span></p>
                <a class="text-lig2 text-2xl underline hover:text-lig11 font-lig2" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</header>
<aside class="fixed top-0 left-0 h-full shadow-lg z-40 w-64 pt-20">
    <div class="flex flex-col h-full navbar-gradient2 pt-10">
        <nav class="flex-1 px-2 pb-4 pt-4 space-y-1">
            <button onclick="toggleMainElement('market')" class="text-lig21 font-lig2 group flex items-center px-2 py-4 text-xl w-56 font-medium hover:bg-lig11 rounded-md">
                Market
            </button>
            <button onclick="toggleMainElement('addoffer')" class="text-lig21 font-lig2 group flex items-center px-2 py-4 text-xl w-56 font-medium hover:bg-lig11 rounded-md">
                Add Offer
            </button>
            <button onclick="toggleMainElement('history')" class="text-lig21 font-lig2 group flex items-center px-2 py-4 text-xl w-56 font-medium hover:bg-lig11 rounded-md">
                Transaction History
            </button>
            <button onclick="toggleMainElement('profile')" class="text-lig21 font-lig2 group flex items-center px-2 py-4 text-xl w-56 font-medium hover:bg-lig11 rounded-md">
                Profile
            </button>
        </nav>
    </div>
</aside>
<div id="market"  class="main-element ml-64 pt-24 ">
    <div class="max-w-full min-h-screen bg-white p-6 rounded-lg shadow-md">
        <div th:if="${message}" >
            <p th:text="${message}" class="bg-green-200 text-green-800 p-2 rounded-md mt-4"></p>
        </div>
        <div class="bg-lig1 w-full justify-center flex">
            <h1 class="text-2xl font-lig1 text-lig21 underline mb-4">Offers Available In the Market</h1>
        </div>
        <table class="table-auto min-w-full bg-lig1">
            <thead>
            <tr>
                <th class="border-4 border-lig21 font-lig2  text-lig21 py-2">image</th>
                <th class="border-4 border-lig21 font-lig2  text-lig21 px-0.5 py-2">Offer</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-4 py-2">Details</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-0.5 py-2">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offers}">
                <td class="border-4 border-lig21 font-lig2 text-white py-2 ">
                    <div class="flex justify-center">
                        <img th:src="'data:image/png;base64,' + ${offer.encodedImage}" class="self-center w-40 h-72">
                    </div>
                <td class="border-4 border-lig21 font-lig2 text-white px-0.5 py-2" th:text="${offer.offerName}"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-4 py-2" th:text="${offer.details}"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-0.5 py-2" th:text="${offer.price} + '$'"></td>
                <th class="border-4 border-lig21 font-lig2 text-lig21  ">
                    <form th:if="${offer.user.id} != ${session.userid}" th:action="@{/buy-offer/{offerId}(offerId=${offer.id})}" method="post">
                        <button type="submit" class="bg-lig21 text-lig1 rounded px-4 py-2">Buy</button>
                    </form>
            </tr>
            </tbody>
        </table>
        <div class="bg-lig1 w-full justify-center flex">
            <h1 class="text-2xl font-lig1 text-lig21 underline mb-4">My Offers</h1>
        </div>
        <table class="table-auto min-w-full bg-lig1">
            <thead>
            <tr>
                <th class="border-4 border-lig21 font-lig2 text-lig21 py-2">image</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-0.5 py-2">Offer</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-4 py-2">Details</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-0.5 py-2">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${myOffers}" data-offer-id="${offer.id}">
                <td class="border-4 border-lig21 font-lig2 text-white py-2">
                    <div class="flex justify-center">
                        <img th:src="'data:image/png;base64,' + ${offer.encodedImage}" class="self-center w-40 h-72">
                    </div>
                </td>
                <td class="border-4 border-lig21 font-lig2 text-white px-0.5 py-2" th:text="${offer.offerName}"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-4 py-2" th:text="${offer.details}"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-0.5 py-2" th:text="${offer.price} + '$'"></td>
                <th class="border-4 border-lig21 font-lig2 text-lig21 ">
                    <form th:action="@{/delete-offer/{offerId}(offerId=${offer.id})}" method="post">
                        <button type="submit" class="bg-lig1 text-lig21 border-2 border-lig21 rounded px-2 py-2">Delete</button>
                    </form>
                        <button onclick="toggleUpdateOfferForm()" class="bg-lig21 text-white px-4 py-2 font-lig21 rounded-md hover:bg-lig11 mt-4">Edit Offer</button>
                        <div id="updateOfferFormDiv" style="display: none" class="mt-4">
                            <h2 class="text-xl font-semibold mt-6">Update Information</h2>
                            <form th:action="@{/update-offer/{offerId}(offerId=${offer.id})}" method="post" class="mt-4" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <input type="file" id="offerImage" name="offerImage" class="hidden" onchange="previewOfferImage(event)" required>
                                    <label for="offerImage" class="btn text-white mt-1 hover:bg-lig11 focus:bg-lig3 cursor-pointer px-3 py-2 bg-lig21 outline rounded-md shadow-sm ">
                                        Upload Image
                                    </label>
                                    <img id="offerPreview" class="hidden mt-2 w-40 h-72" alt="Preview Image">
                                </div>
                                <div class="mb-4">
                                    <label for="offerName1" class="block text-sm font-medium text-gray-700">Offer Name</label>
                                    <input type="text" id="offerName1" name="offerName1" th:value="${offer.offerName}" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                                </div>
                                <div class="mb-4">
                                    <label for="offerDetails" class="block text-sm font-medium text-gray-700">Details</label>
                                    <input type="text" id="offerDetails" name="offerDetails" th:value="${offer.details}" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                                </div>
                                <div class="mb-4">
                                    <label for="offerPrice" class="block text-sm font-medium text-gray-700">Price</label>
                                    <input type="number" id="offerPrice" name="offerPrice" th:value="${offer.price}" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                                </div>
                                <div class="flex items-center justify-end">
                                    <button type="submit" class="bg-lig21 text-white px-4 py-2 rounded-md hover:bg-lig11">Save Changes</button>
                                </div>
                            </form>
                        </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="profile" class="main-element ml-64 pt-24 " style="display: none">
    <div class="max-w-full min-h-screen bg-white p-6 rounded-lg shadow-md">
        <div class="container rounded border-4 border-lig1 w-1/3 p-4 bg-lig21">
        <h1 class="text-2xl font-lig1 text-lig1 underline mb-4">User Profile</h1>
        <p class="text-lig1 text-xl font-lig2">Username: <span th:text="${session.username}"></span></p>
        <p class="text-lig1 text-xl font-lig2">Email:<span th:text="${session.email}"></span></p>
            <p class="text-lig1 text-xl font-lig2">Balance:<span th:text="${session.balance} + '$'"></span></p>
        </div>
        <button onclick="toggleUpdateForm()" class="bg-lig21 text-white px-4 py-2 font-lig21 rounded-md hover:bg-lig11 mt-4">Edit Profile</button>

        <div id="updateFormDiv" style="display: none" class="mt-4">
            <h2 class="text-xl font-semibold mt-6">Update Information</h2>
            <form th:action="@{/update-profile}" method="post" class="mt-4">
                <div class="mb-4">
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" id="username" name="newusername" th:value="${session.username}" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" name="newemail" th:value="${session.email}" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                </div>
                <div class="flex items-center justify-end">
                    <button type="submit" class="bg-lig21 text-white px-4 py-2 rounded-md hover:bg-lig11">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="addoffer" style="display: none" class="main-element ml-64 pt-24 ">
    <div class="max-w-full min-h-screen bg-white p-6 rounded-lg shadow-md">
        <div class="bg-lig1 w-full text-center p-4">
            <h1 class="text-2xl font-lig1 text-lig21 underline">Add Offer</h1>
        </div>
        <form th:action="@{/add-offer}" method="post" enctype="multipart/form-data" >
            <div class="container w-full bg-lig1  p-2">
            <div class="mb-4">
                <label for="offername" class="block text-sm font-lig2 text-lig21">Offer Name</label>
                <input type="text" id="offername" name="offername" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <div class="mb-4">
                <label for="details" class="block text-sm font-lig2 text-lig21">Details</label>
                <input type="text" id="details" name="details" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <div class="mb-4">
                <label for="price" class="block text-sm font-lig2 text-lig21">Price</label>
                <input type="number" id="price" name="price" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <div class="mb-4">
                <input type="file" id="image" name="image" class="hidden" onchange="previewImage(event)" required>
                <label for="image" class="btn mt-1 hover:bg-lig11 focus:bg-lig3 cursor-pointer px-3 py-2 bg-lig21 outline rounded-md shadow-sm ">
                    Upload Image
                </label>
                <img id="preview" class="hidden mt-2 w-40 h-72" alt="Preview Image">
            </div>
            <div class="flex items-center justify-end">
                <button type="submit" class="bg-lig21 text-white px-4 py-2 rounded-md hover:bg-lig11">Add Offer</button>
            </div>
            </div>
        </form>
    </div>
</div>
<div id="history" style="display: none" class="main-element ml-64 pt-24 ">
    <div class="max-w-full min-h-screen bg-white p-6 rounded-lg shadow-md">
        <div class="bg-lig1 w-full justify-center flex">
            <h1 class="text-2xl font-lig1 text-lig21 underline mb-4">Transaction History</h1>
        </div>
        <table class="table-auto min-w-full bg-lig1">
            <thead>
            <tr>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-2 py-2">Image</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-2 py-2">Offer</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-4 py-2">Details</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 px-2 py-2">Price</th>
                <th class="border-4 border-lig21 font-lig2 text-lig21 py-2">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="completedOffer : ${completedOffers}">
                <td class="border-4 border-lig21 font-lig2 text-white px-2 py-2">
                    <div class="flex justify-center">
                    <img th:src="'data:image/png;base64,' + ${completedOffer.encodedImage}" class="w-40 h-72" alt="Offer Image">
                </div>
                </td>
                <td class="border-4 border-lig21 font-lig2 text-white px-2 py-2" th:text="${completedOffer.offerName}"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-4 py-2" th:text="${completedOffer.details}"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-2 py-2" th:text="${completedOffer.price} + '$'"></td>
                <td class="border-4 border-lig21 font-lig2 text-white px-2 py-2" th:text="${#dates.format(completedOffer.transactionDateTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
